* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px !important;
}

h1, h2, h3 {
  margin: 0 !important;
}

h3 {
  font-size: 2em !important;
}

p {
  color: #212529;
  margin-top: 15px;
  font-size: 1em;
}

.active {
  background-color: gray;
}

.docs-menu__open {
  transition: max-height 1s;
  max-height: 5000px !important;
}

.sacs__plus-minus-toggle {
  cursor: pointer;
  max-height: 21px;
  height: auto;
  position: relative;
  width: 21px;
  display: flex !important;
  align-self: flex-start;
  padding: 8px;
}

/* .sacs__plus-minus-toggle:hover {
  ;
} */

/* .sacs__plus-minus-toggle::before, .sacs__plus-minus-toggle::after {
  background: #000;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
  transition: transform 500ms ease;
}

.sacs__plus-minus-toggle::after {
  transform-origin: center;
}

.sacs__plus-minus-toggle .collapsed::after {
  transform: rotate(0deg);
}

.sacs__plus-minus-toggle .collapsed::before {
  transform: rotate(180deg);
} */

.sacs__side-menu {
  height: 100%;
  width: 500px;
  position: absolute;
  z-index: 1;
  top: auto;
  left: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  padding-top: 60px;
  /* transition: 1s; */
  border-right: 1px solid rgb(160, 160, 160);
}

.sacs__menu-level {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: auto;
  width: 90%;
  margin: 20px auto;
  cursor: pointer;
}

.sacs__menu__level-label {
  padding-left: 20px;
  height: max-content;
  display: flex;
  align-self: center;
  width: 90%;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 16px;
}

.sacs__menu__level-label:hover {
  text-decoration: underline;
}

.sacs__menu-sub-level {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.sacs__menu-sub-level__link {
  text-decoration: none;
  color: black;
  margin: 10px 0;
  font-size: 16px;
}

.sacs__menu-sub-level__link:hover {
  text-decoration: underline;
}

.sacs__menu-sub-level__wrapper {
  background-color: red;
}

.sacs__menu-sub-level__item {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.sacs__menu__docs {
  max-height: 0;
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.sacs__menu__doc {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
}

.sacs__menu__doc:hover {
  text-decoration: underline;
}

.sacs__menu-level--one {
  height: max-content;
  display: flex;
  align-self: center;
  /* overflow: hidden; */
}

.sacs__menu__closed {
  width: 100%;
}
.sacs__menu__closed .sacs__menu__vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
  }


.sacs__menu__closed .sacs__menu__horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.sacs__menu__opened {
  opacity: 1;
}

.sacs__menu__opened .sacs__menu__vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}

.sacs__menu__opened .sacs__menu__horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}

.sacs__menu__circle-plus {
  opacity: .7;
  display: flex;
  align-self: center;
}

.sacs__menu__circle-plus .sacs__menu__circle {
  position: relative;
  width: 15px;
  height: 15px;
  padding: 11px;
  border-radius: 100%;
  border: solid 3px #1d7f9a;
}

.sacs__menu__circle-plus .sacs__menu__circle .sacs__menu__horizontal {
  position: absolute;
  background-color: #1d7f9a;
  width: 30px;
  height: 3px;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -2.5px;
}
.sacs__menu__circle-plus .sacs__menu__circle .sacs__menu__vertical {
  position: absolute;
  background-color: #1d7f9a;
  width: 3px;
  height: 30px;
  left: 50%;
  margin-left: -1.6px;
  top: 50%;
  margin-top: -15px;
}



.sacs {
  /* transition: 1s all; */
  min-height: 100vh;
  padding: 30px;
  overflow-y: scroll;
}

.sacs__intro {
  height: 300px;
  width: 80%;
  background-color: purple;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 70px;
  color: white;
}

.sacs__main-content {
  width: 80%;
  background-color: black;
  height: 50%;
  margin: 30px auto 0;
}

.sacs__main-content p {
  font-size: 70px;
  color: white;
  padding: 200px 0;
  text-align: center;
}

.sacs__breadcrumb {
  margin-bottom: 30px;
  font-size: 16px;
}

.sacs__breadcrumb a {
  color: #a0a0a0 !important;
  text-decoration: none !important;
  transition: 1s all;
  padding: 0 5px;
}

.sacs__breadcrumb a:hover {
  text-decoration: underline;
  color: #c7531e !important;
}

.sacs__logo-wrapper {
  padding: 30px 30px;
}

.sacs__banner {
  height: auto;
  width: 100%;
  background-color: #1f7f9b;
}

.sacs__page-title {
  padding: 30px 10%;
  color: white;
}

.sacs__footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid gray;
}

.sacs__location-info {
  width: 150px;
  align-self: center;
  padding-left: 40px;
}

.sacs__location-info p {
  margin: 0 !important;
}