/* * {
  margin: 0;
  padding: 0;
} */

html,
body {
  font-size: 16px !important;
  margin: 0;
  padding: 0;

}

h1,
h2,
h3 {
  margin: 0 0 20px 0 !important;
}

h2 {
  font-size: 30px !important;
}

ul {
  color: black !important;
  padding-left: 0 !important;
  padding-top: 0;
  margin-left: 0;
}

.sacs__menu__doc::before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAAG+URWSAAAABGdBTUEAALGPC/xhBQAAAPJJREFUKBVjvBBjFPbvP6MQw9lI48sMQMB4Lto4A8RAAJgUTIQJxoDRKHqYGRn3wyTA9NlI00QMLRgCcAeg6IVysBqBrhDTSDQVLCD+2Uij/2jiMG4Sij9gonD6QpSRO5yDxDgbZTwfr90DIcmIx58MQElgZDMyvGZkYHgO9sl/IA8ZMP5H5QPTBRCZ/f/P1AwORWaG/50Gy87tRNaDjw0KI5A83qDAZ8AQ1gwOsH9MTOyPCy05/7xnBye/P7ycYPqXMA+Y1np2D0wzSPGC6fO3PjOBGIz/04xZUQIGqoBBSxSi4Zo2hAYpqq8HsxkZGcE0ACTyRbLuTSiDAAAAAElFTkSuQmCC);
  margin-right: 10px;
  height: max-content;
  width: 5px;
}

.footnote {
  margin-bottom: 7px !important;
}

h3 {
  font-size: 2em !important;
}

p {
  color: #212529;
  margin-top: 15px;
  font-size: 1em;
  margin-bottom: 15px !important;
}

.intro {
  font-size: 1.25em;
}

.active {
  background-color: gray;
}

.show-level {
  max-height: 4000px !important;
  transition: 1s all;
}

.docs-menu__open {
  transition: max-height 1s;
  max-height: 5000px !important;
}

.sacs__plus-minus-toggle {
  cursor: pointer;
  max-height: 21px;
  height: auto;
  position: relative;
  width: 21px;
  display: flex !important;
  align-self: flex-start;
  padding: 8px 8px 8px 0;
}

.sacs__menu__link-icon {
  height: 27px;
  align-self: center;
  margin-left: 9px;
}

.sacs__menu__link-icon--sub-level {
  height: 18px;
  align-self: center;
  margin-right: 8px;
}

.sacs__menu__stand-alone-link {
  padding-left: 30px;
}

.sacs__menu__icon-wrapper {
  display: flex;
  flex-direction: row;
}

.sacs__menu__open-btn, .sacs__menu__close-btn {
  transition: 1s all;
  font-size: 50px !important;
  color: white !important;
  cursor: pointer;
  background-color: rgb(160, 160, 160, .8);
  border-radius: 50%;
  padding: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sacs__menu__close-btn {
  visibility: visible;
  left: -115px;
}

.sacs__menu__open-btn {
  visibility: hidden;
  left: -49px;
}

.sacs__menu__open-btn:hover, .sacs__menu__close-btn:hover {
  background-color: rgb(117, 117, 117);
}

.sacs__body-width {
  margin-left: 40px;
}

.sacs__navigate-articles {
  width: 450px;
  margin: 20px 0 30px;
}

.sacs__navigate-articles__label {
  margin-bottom: 0 !important;
}

.sacs__navigate-articles__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sacs__side-menu {
  height: 100%;
  width: 400px;
  position: absolute;
  z-index: 1;
  top: auto;
  left: 0;
  background-color: white;
  padding-top: 60px;
  padding-right: 20px;
  transition: 1s all;
  margin-top: 0;
  overflow: scroll;
  list-style: none !important;
  margin-left: 0;
}

.sacs__menu-level {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: auto;
  width: 90%;
  margin: 20px auto;
  cursor: pointer;
}

.sacs__menu-level__wrapper {
  display: flex;
  flex-direction: row;
}

.sacs__menu__level-label {
  padding-left: 20px;
  height: max-content;
  display: flex;
  align-self: center;
  min-width: 300px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 16px;
}

.sacs__menu__level-label:hover {
  text-decoration: underline;
}

.sacs__menu-sub-level {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.sacs__menu-sub-level__item-wrapper {
  display: flex;
  flex-direction: column;
}

.sacs__menu-sub-level__link {
  text-decoration: none;
  color: black;
  margin: 10px 0;
  font-size: 16px;
  min-width: 300px;
}

.sacs__menu-sub-level__link:hover {
  text-decoration: underline;
}

.sacs__menu-sub-level__wrapper {
  background-color: red;
}

.sacs__menu-sub-level__label-wrapper {
  display: flex;
}
.sacs__menu-sub-level__item {
  width: 71%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.sacs__menu__docs {
  max-height: 0;
  overflow: hidden;
  width: 89%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.sacs__menu__docs li {
  margin-bottom: 15px;
}

.sacs__menu__doc {
  color: black;
  text-decoration: none;
  padding: 0 10px;
  font-size: 16px;
}

.sacs__menu__doc:hover {
  text-decoration: underline;
}

.sacs__menu-level--one {
  height: max-content;
  display: flex;
  align-self: center;
  /* overflow: hidden; */
}

/* .sacs__menu__closed {
  width: 100%;
} */
.sacs__menu__closed .sacs__menu__vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}

.sacs__menu__closed .sacs__menu__horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.sacs__menu__opened {
  opacity: 1;
}

.sacs__menu__opened .sacs__menu__vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}

.sacs__menu__opened .sacs__menu__horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}

.sacs__menu__circle-plus {
  opacity: 0.7;
  display: flex;
  align-self: center;
}

.sacs__menu__circle-plus .sacs__menu__circle {
  position: relative;
  width: 11px;
  height: 11px;
  padding: 14px;
  border-radius: 100%;
  border: solid 3px #1d7f9a;
  transform: scale(0.7);
}

.sacs__menu__circle-plus .sacs__menu__circle .sacs__menu__horizontal {
  position: absolute;
  background-color: #1d7f9a;
  width: 30px;
  height: 3px;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -2.5px;
}
.sacs__menu__circle-plus .sacs__menu__circle .sacs__menu__vertical {
  position: absolute;
  background-color: #1d7f9a;
  width: 3px;
  height: 30px;
  left: 50%;
  margin-left: -1.6px;
  top: 50%;
  margin-top: -15px;
}

.sacs {
  transition: 1s all;
  height: 100vh;
  padding: 50px;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
  margin-left: 400px;
  background-color: white;
  border-left: 1px solid gray;
}

.sacs__drawer-trigger {
  background-color: rgb(160, 160, 160);
  border: none;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 16px;
  color: white;
  position: fixed;
  top: 55%;
  transform: translateY(-50%);
  left: 425px;
  z-index: 10;
  cursor: pointer;
}

.sacs__drawer-trigger__icon {
  font-size: 80px !important;
}

.hide-menu {
  max-width: 0;
  transition: 1s all;
}

.sacs__intro {
  height: 300px;
  width: 80%;
  background-color: purple;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 70px;
  color: white;
}

.sacs__main-content {
  width: 80%;
  background-color: black;
  height: 50%;
  margin: 30px auto 0;
}

.sacs__main-content p {
  font-size: 70px;
  color: white;
  padding: 200px 0;
  text-align: center;
}

.sacs__breadcrumb {
  margin-top: -20px;
  margin-bottom: 30px;
  font-size: 16px;
}

.sacs__breadcrumb a {
  color: #a0a0a0 !important;
  text-decoration: none !important;
  transition: 1s all;
  padding: 0 5px;
}

.sacs__breadcrumb a:hover {
  text-decoration: underline;
  color: #c7531e !important;
}

.sacs__logo-wrapper {
  padding: 30px 30px;
}

.sacs__header {
  /* border-bottom: 1px solid rgb(160, 160, 160); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  z-index: 2;
}

.sacs__banner {
  height: auto;
  width: 100%;
  background-color: #1f7f9b;
}

.sacs__page-title {
  padding: 30px 10%;
  color: white;
}

.sacs__page-content {
  margin-left: 50px;
}
.sacs__footer {
  display: flex;
  flex-direction: row;
  /* border-top: 1px solid gray; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  z-index: 2;
}

.sacs__location-info {
  width: 150px;
  align-self: center;
  padding-left: 40px;
}

.sacs__location-info p {
  margin: 0 !important;
}
